@page "/"
@page "/home"
@inject NavigationManager NavigationManager

<div class="column-layout home-container">
    <div class="column-layout page-content">
        <div class="row-layout main-page-header">
            <div class="row-layout group">
                <div class="column-layout group_1">
                    <h4 class="h4">
                        All the auto parts you need in one place
                    </h4>
                    <p class="typography__body-1 text">
                        We have the most popular brands and all the parts for your vehicle
                    </p>
                    <div class="row-layout group_2">
                        <IgbSelect Outlined="false" Label="Year" Placeholder="Select Year" class="select" home-scope>
                            <IgbSelectItem Value="Option">
                                2023
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                2022
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                2021
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                2020
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                2019
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                2018
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                2017
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                2016
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbSelect Outlined="false" Label="Brand" Placeholder="Select Brand" Disabled="true" class="select" home-scope>
                            <IgbSelectItem Value="Option">
                                Hyundai
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                Kia
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                Mitsubishi
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                Audi
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                Chevrolet
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                Toyota
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                Ford
                            </IgbSelectItem>
                            <IgbSelectItem Value="Option">
                                Fiat
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbSelect Outlined="false" Label="Model" Placeholder="Select Model" Disabled="true" class="select" home-scope>
                            <IgbSelectItem Value="Option">
                                Option
                            </IgbSelectItem>
                        </IgbSelect>
                        <IgbSelect Outlined="false" Label="Engine" Placeholder="Select Engine" Disabled="true" class="select" home-scope>
                            <IgbSelectItem Value="Option">
                                Option
                            </IgbSelectItem>
                        </IgbSelect>
                        <div class="row-layout group_3">
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" class="button button_2" home-scope>
                                SEARCH
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-layout content">
            <div class="column-layout popular-categories">
                <h5 class="h5">
                    Popular Categories
                </h5>
                <div class="row-layout group_4">
                    <IgbCard @onclick="@(e => Navigate("/all_products"))" class="card" home-scope>
                        <IgbCardMedia class="media-content" home-scope>
                            <img src="assets/photo-1606577924006-27d39b132ae2.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                AUTO BODY PARTS
                            </h3>
                            <h5 slot="subtitle">
                                Bumpers, Fenders, Mirrors, Hoods, Grilles, Door handles, Windows
                            </h5>
                        </IgbCardHeader>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content" home-scope>
                            <img src="assets/photo-1616788494670-7243adbb32b2.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                HEADLIGHTS &amp; LIGHTING
                            </h3>
                            <h5 slot="subtitle">
                                Headlights, Tail, Fog, Turn Signals, Switches, Corner, Off-Road, Bulbs
                            </h5>
                        </IgbCardHeader>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content" home-scope>
                            <img src="assets/photo-1552656967-7a0991a13906.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                ENGINE &amp; DRIVETRAIN
                            </h3>
                            <h5 slot="subtitle">
                                Catalytic Converters, Radiators, Fuel Systems, Heating, Cranks, Pistons
                            </h5>
                        </IgbCardHeader>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content" home-scope>
                            <img src="assets/photo-1598149949932-e4727f2f7ac4.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                BRAKES &amp; SUSPENSION
                            </h3>
                            <h5 slot="subtitle">
                                Discs, Shocks, Control Arms, Wheel Hubs, Wheels, Tie Rods
                            </h5>
                        </IgbCardHeader>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content" home-scope>
                            <img src="assets/photo-1614527255138-018e29ff34ee.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                INTERIOR ACCESSORIES
                            </h3>
                            <h5 slot="subtitle">
                                Seats, Carpet, Floor Mats, Dashboard, Switches, Gauges &amp; Monitors
                            </h5>
                        </IgbCardHeader>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content" home-scope>
                            <img src="assets/photo-1514316454349-750a7fd3da3a.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                EXTERIOR ACCESSORIES
                            </h3>
                            <h5 slot="subtitle">
                                Bumpers, Hoods, Grilles, Fog lights, Door Handles, Locks, Covers
                            </h5>
                        </IgbCardHeader>
                    </IgbCard>
                </div>
            </div>
            <div class="column-layout popular-categories">
                <h5 class="h5">
                    Featured Products
                </h5>
                <div class="row-layout group_5">
                    <IgbCard @onclick="@(e => Navigate("/product_details"))" class="card" home-scope>
                        <IgbCardMedia class="media-content_1" home-scope>
                            <img src="assets/Alternator1.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                Gold Alternator
                            </h3>
                            <h5 slot="subtitle">
                                This is a brief product description, not longer than 2 lines of text.
                            </h5>
                        </IgbCardHeader>
                        <IgbCardContent class="body-content" home-scope>
                            <h6 class="h6">
                                $59.90
                            </h6>
                        </IgbCardContent>
                        <IgbCardActions class="actions-content" home-scope>
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" slot="start" class="button_1 button_1_1" home-scope>
                                <span class="material-icons icon">
                                    add_shopping_cart
                                </span>
                                <span>ADD TO CART</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardActions>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content_1" home-scope>
                            <img src="assets/Depositphotos_114068560_l-2015.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                Winter Tires Set
                            </h3>
                            <h5 slot="subtitle">
                                This is a brief product description, not longer than 2 lines of text.
                            </h5>
                        </IgbCardHeader>
                        <IgbCardContent class="body-content" home-scope>
                            <h6 class="h6">
                                $44.50
                            </h6>
                        </IgbCardContent>
                        <IgbCardActions class="actions-content" home-scope>
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" slot="start" class="button_1 button_1_2" home-scope>
                                <span class="material-icons icon">
                                    add_shopping_cart
                                </span>
                                <span>ADD TO CART</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardActions>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content_1" home-scope>
                            <img src="assets/Depositphotos_12011807_l-2015.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                Headlight Assembly
                            </h3>
                            <h5 slot="subtitle">
                                This is a brief product description, not longer than 2 lines of text.
                            </h5>
                        </IgbCardHeader>
                        <IgbCardContent class="body-content" home-scope>
                            <h6 class="h6">
                                $49.50
                            </h6>
                        </IgbCardContent>
                        <IgbCardActions class="actions-content" home-scope>
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" slot="start" class="button_1 button_1_3" home-scope>
                                <span class="material-icons icon">
                                    add_shopping_cart
                                </span>
                                <span>ADD TO CART</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardActions>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content_1" home-scope>
                            <img src="assets/Depositphotos_39703145_l-2015.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                Spark Plugs
                            </h3>
                            <h5 slot="subtitle">
                                This is a brief product description, not longer than 2 lines of text.
                            </h5>
                        </IgbCardHeader>
                        <IgbCardContent class="body-content" home-scope>
                            <h6 class="h6">
                                $11.00
                            </h6>
                        </IgbCardContent>
                        <IgbCardActions class="actions-content" home-scope>
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" slot="start" class="button_1 button_1_4" home-scope>
                                <span class="material-icons icon">
                                    add_shopping_cart
                                </span>
                                <span>ADD TO CART</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardActions>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content_1" home-scope>
                            <img src="assets/Depositphotos_91150104_l-2015.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                Tail Lamp Assembly
                            </h3>
                            <h5 slot="subtitle">
                                This is a brief product description, not longer than 2 lines of text.
                            </h5>
                        </IgbCardHeader>
                        <IgbCardContent class="body-content" home-scope>
                            <h6 class="h6">
                                $19.90
                            </h6>
                        </IgbCardContent>
                        <IgbCardActions class="actions-content" home-scope>
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" slot="start" class="button_1 button_1_5" home-scope>
                                <span class="material-icons icon">
                                    add_shopping_cart
                                </span>
                                <span>ADD TO CART</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardActions>
                    </IgbCard>
                    <IgbCard class="card" home-scope>
                        <IgbCardMedia class="media-content_1" home-scope>
                            <img src="assets/Depositphotos_20993125_l-2015.jpg" class="image" />
                        </IgbCardMedia>
                        <IgbCardHeader>
                            <h3 slot="title">
                                Oil Filters
                            </h3>
                            <h5 slot="subtitle">
                                This is a brief product description, not longer than 2 lines of text.
                            </h5>
                        </IgbCardHeader>
                        <IgbCardContent class="body-content" home-scope>
                            <h6 class="h6">
                                $24.50
                            </h6>
                        </IgbCardContent>
                        <IgbCardActions class="actions-content" home-scope>
                            <IgbButton Variant="ButtonVariant.Flat" DisplayType="ButtonBaseType.Button" slot="start" class="button_1 button_1_6" home-scope>
                                <span class="material-icons icon">
                                    add_shopping_cart
                                </span>
                                <span>ADD TO CART</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </IgbCardActions>
                    </IgbCard>
                </div>
            </div>
        </div>
        <div class="row-layout sitemap">
            <div class="column-layout group_6">
                <p class="typography__subtitle-2 text_1">
                    Contact Us
                </p>
                <p class="typography__body-2 text_1">
                    1234 Street Name, CityName, ST
                </p>
                <p class="typography__body-2 text_1">
                    10520 United States
                </p>
                <p class="typography__subtitle-2 text_2">
                    Phone Number
                </p>
                <p class="typography__body-2 text_1">
                    1-234-567-8901
                </p>
            </div>
            <div class="column-layout group_7">
                <p class="typography__subtitle-2 text_1">
                    Help
                </p>
                <p class="typography__body-2 text_1">
                    FAQ
                </p>
                <p class="typography__body-2 text_1">
                    Returns
                </p>
                <p class="typography__body-2 text_1">
                    Coupons &amp; Discounts
                </p>
                <p class="typography__body-2 text_1">
                    Shipping &amp; Returns
                </p>
            </div>
            <div class="column-layout group_7">
                <p class="typography__subtitle-2 text_1">
                    About Us
                </p>
                <p class="typography__body-2 text_1">
                    Company Info
                </p>
                <p class="typography__body-2 text_1">
                    Press Releases
                </p>
                <p class="typography__body-2 text_1">
                    Careers
                </p>
                <p class="typography__body-2 text_1">
                    Reviews
                </p>
            </div>
            <div class="column-layout group_7">
                <p class="typography__subtitle-2 text_1">
                    Services
                </p>
                <p class="typography__body-2 text_1">
                    Buy Online
                </p>
                <p class="typography__body-2 text_1">
                    In-Store
                </p>
                <p class="typography__body-2 text_1">
                    Repair Help
                </p>
                <p class="typography__body-2 text_1">
                    Find a Repair Shop
                </p>
            </div>
            <div class="column-layout group_7">
                <p class="typography__subtitle-2 text_1">
                    Blog
                </p>
                <p class="typography__body-2 text_1">
                    Car Building Basics
                </p>
                <p class="typography__body-2 text_1">
                    Do it Yourself
                </p>
                <p class="typography__body-2 text_1">
                    Your Home Workshop
                </p>
                <p class="typography__body-2 text_1">
                    Advanced Bulding
                </p>
            </div>
        </div>
        <div class="row-layout footer">
            <p class="typography__body-2 text_3">
                Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
            </p>
            <div class="row-layout group_8">
                <p class="typography__body-2 text_4">
                    Terms of Use
                </p>
                <p class="typography__body-2 text_4">
                    Privacy Policy
                </p>
                <p class="typography__body-2 text_4">
                    Site Map
                </p>
            </div>
        </div>
    </div>
</div>

@code {

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
